{% extends "saliweb/layout.html" %}

{% block navigation %}
{{ get_navigation_links(
       [(url_for("index"), "MiST Home"),
        (url_for("job"), "Current MiST queue"),
        (url_for("help"), "Help"),
        (url_for("contact"), "Contact")])
}}
{% endblock %}

{% block sidebar %}
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h4><small>Author:</small></h4><p>Peter Cimermancic</p>
<h4><small>Web Developers:</small></h4>
<p>Peter Cimermancic<br />
Elina Tjioe<br />
Ben Webb<br /></p>

<h4><small>Corresponding Authors:</small></h4>
<p>Andrej Sali
<br /> Nevan Krogan</p>
<p><i>Version <a href="{{ config.GITHUB }}">{{ config.VERSION }}</a></i></p>
{% endblock %}

{% block footer %}
<div id="address">
<center><a href="https://www.ncbi.nlm.nih.gov/pubmed/22190034">
<b>S. Jaeger, P. Cimermancic, et al., <i>Global landscape of HIV-human protein complexes</i>, Nature (2011)</b></a>
</center>
</div>
{% endblock %}
